In [36]:
import sqlite3

In [37]:
conn = sqlite3.connect('test.db')

In [38]:
c = conn.cursor()

In [41]:
c.execute('DROP TABLE IF EXISTS ' + 'stocks')
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty int, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.

In [30]:
t = ('BUY',)
c.execute('SELECT date FROM stocks WHERE trans=?', t)
c.fetchall()

[('2006-01-05',)]

In [35]:
conn.close()

In [31]:
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

In [34]:
c.execute('SELECT MIN(qty) FROM stocks')
c.fetchone()

(100,)

In [43]:
z = ('TEST' +
'HELLO')
z

'TESTHELLO'

In [47]:
name = 'connection'
prefix = 'pf_goc.db'
debug = True

import sqlite3
conn = sqlite3.connect(prefix)
c = conn.cursor()
c.execute('DROP TABLE IF EXISTS ' + name)
command = ('CREATE TABLE ' + name +
      '(source int, target int, segment int, branch int, distance real')

if debug:
    command = command + ', x real, y real, z real)'
else:
    command = command + ')'

c.execute(command)
conn.commit()
conn.close()

In [46]:
!open .

In [22]:
import numpy as np
import pandas as pd
import sqlite3

In [21]:
for k in range(120):
    x = np.loadtxt('/Users/shhong/Dropbox/network_data/output_brep_2/PFtoGoCtargets%d.dat' % k).astype(int)
    y = np.arange(k, 1995, 120)
    print(x.max(), y.max())

1920 1920
1921 1921
1922 1922
1923 1923
1924 1924
1925 1925
1926 1926
1927 1927
1928 1928
1929 1929
1930 1930
1931 1931
1932 1932
1933 1933
1934 1934
1935 1935
1936 1936
1937 1937
1938 1938
1939 1939
1940 1940
1941 1941
1942 1942
1943 1943
1944 1944
1945 1945
1946 1946
1947 1947
1948 1948
1949 1949
1950 1950
1951 1951
1952 1952
1953 1953
1954 1954
1955 1955
1956 1956
1957 1957
1958 1958
1959 1959
1960 1960
1961 1961
1962 1962
1963 1963
1964 1964
1965 1965
1966 1966
1967 1967
1968 1968
1969 1969
1970 1970
1971 1971
1972 1972
1973 1973
1974 1974
1975 1975
1976 1976
1977 1977
1978 1978
1979 1979
1980 1980
1981 1981
1982 1982
1983 1983
1984 1984
1985 1985
1986 1986
1987 1987
1868 1988
1989 1989
1990 1990
1991 1991
1872 1992
1993 1993
1994 1994
1875 1875
1876 1876
1877 1877
1878 1878
1879 1879
1880 1880
1881 1881
1882 1882
1883 1883
1884 1884
1885 1885
1886 1886
1887 1887
1888 1888
1889 1889
1890 1890
1891 1891
1892 1892
1893 1893
1894 1894
1895 1895
1896 1896
1897 1897
1898 1898
1899 1899
1900 1900
1901 1901
1902 1902
1903 1903
1904 1904
1905 1905
1906 1906
1907 1907
1908 1908
1909 1909
1910 1910
1911 1911
1912 1912
1913 1913
1914 1914
1915 1915
1916 1916
1917 1917
1918 1918
1919 1919

In [23]:
i = 0

array([   0,  120,  240,  360,  480,  600,  720,  840,  960, 1080, 1200,
       1320, 1440, 1560, 1680, 1800, 1920])

In [52]:
db = '/Users/shhong/Dropbox/network_data/output_pybrep_2/AAtoGoC.db'
Path(db).parent
ntargets = 1995
nblocks = 120

# def run_block(i):
i = 0

In [83]:
z = np.vstack([df['segment'].values, df['branch'].values])
np.savetxt('test.dat', z.T, delimiter=' ', fmt='%d')

In [67]:
from pathlib import Path
Path(db).parent

PosixPath('/Users/shhong/Dropbox/network_data/output_pybrep_2')

In [73]:
df

        index  source  target  segment  branch  distance
0           0  490368       0        1       3       2.0
1           1  663466       0        1       3      80.0
2           2  454240       0        1       3      82.0
3           3  476200       0        1       3      35.0
4           4  491550       0        1       3      58.0
5           5  478713       0        1       3      16.0
6           6  414755       0        1       3      49.0
7           7  293696       0        1       3      36.0
8           8  164247       0        1       3      65.0
9           9   65068       0        1       3      71.0
10         10  227504       0        1       3      20.0
11         11  127210       0        1       3      57.0
12         12  372916       0        1       3      26.0
13         13  574846       0        1       3      83.0
14         14  464833       0        1       3      47.0
15         15  357221       0        1       3      22.0
16         16   85411       0        1       3      83.0
17         17  190049       0        1       3      77.0
18         18  398847       0        1       3      65.0
19         19  582317       0        1       3      82.0
20         20  599297       0        1       3      17.0
21         21  408855       0        1       3      38.0
22         22  384360       0        1       3      39.0
23         23  180162       0        1       3      77.0
24         24  100365       0        1       3      68.0
25         25  154878       0        1       3      27.0
26         26  180768       0        1       3      84.0
27         27  107321       0        1       3       2.0
28         28   22511       0        1       3      17.0
29         29  174556       0        1       3      45.0
...       ...     ...     ...      ...     ...       ...
115980  61069  764037    1920        3       2      13.0
115981  61070  210770    1920        3       2      26.0
115982  61071  387498    1920        3       2      84.0
115983  61072  430176    1920        3       2      57.0
115984  61073  630748    1920        3       2      71.0
115985  61074  315209    1920        3       2      61.0
115986  61075  639400    1920        3       2      17.0
115987  61076  613779    1920        3       2      15.0
115988  61077  344991    1920        3       2      86.0
115989  61078   86751    1920        3       2      46.0
115990  61079  131721    1920        3       2      10.0
115991  61080  503815    1920        3       2      76.0
115992  61081  274994    1920        3       2       2.0
115993  61082   87091    1920        3       2      70.0
115994  61083  369522    1920        3       2      65.0
115995  61084   22672    1920        3       2      42.0
115996  61085  548491    1920        3       2      49.0
115997  61086  217810    1920        3       2      33.0
115998  61087  346289    1920        3       2      32.0
115999  61088   80344    1920        3       2      66.0
116000  61089  419280    1920        3       2       6.0
116001  61090  775959    1920        3       2      32.0
116002  61091  678248    1920        3       2      35.0
116003  61092  312156    1920        3       2      20.0
116004  61093  503075    1920        3       2      29.0
116005  61094  432665    1920        3       2      37.0
116006  61095  740654    1920        3       2       8.0
116007  61096  411883    1920        3       2      71.0
116008  61097   81188    1920        3       2      50.0
116009  61098  703336    1920        3       2      73.0

[116010 rows x 6 columns]

In [93]:
Path(db)

PosixPath('/Users/shhong/Dropbox/network_data/output_pybrep_2/AAtoGoC.db')

In [90]:
db

'/Users/shhong/Dropbox/network_data/output_pybrep_2/AAtoGoC.db'